<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	<display-name>asmjv4</display-name>
	
	  <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>port</param-name>
        <param-value>465</param-value>
    </context-param>
 
    <context-param>
        <param-name>user</param-name>
        <param-value>thaonguyen2004.2021@gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>pass</param-name>
        <param-value>ivpr rqwe smeo itvp</param-value>
    </context-param>
	<session-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>
	<welcome-file-list>
		<welcome-file>redirect.jsp</welcome-file>
				<welcome-file>index.jsp</welcome-file>
		
	</welcome-file-list>
</web-app>

